-
  var devices = {
    "iPhone-4": [320, 480],
    "iPhone-5s-5-SE": [320, 568],
    "XPERIA": [360, 640],
    "iPhone-8-7-6s-6": [375, 664],
    "iPhone-8-7-6s-6-Plus": [414, 736],
    "iPhone-XS-X": [375, 812],
    "iPhone-XS-Max_XR": [414, 896],
    "iPad": [768, 1024],
    "iPad-Pro-10_5": [834, 1112],
    "iPad-Pro-11": [834, 1194],
    "iPad-Pro-12_9": [1024, 1366]
  }

<!DOCTYPE html>
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/style.css")

  body
    header#header
      #logo responsive
      #tool-bar
        #rotate-icon
          img(src="img/mobile-icon.png")
    each val, name in devices
      .item
        .frame-header
          .name #{name}
          .size #{val[0]}x#{val[1]}
        .frame-parent(class='vertical-' + name)
          iframe.frame(src="https://design-spice.com/2014/03/24/percentag/")
